/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Dancing' serif;
    overflow-x: hidden;
}

/*===================MENU==========================*/

#menu li > a {
    font-size: 15px;
    font-weight: bolder;
    color: #3f3f3f;

}

#menu form > button {
    font-size: 15px;
    font-weight: bold;
}
/*===================SLIDER DE IMAGENES==========================*/





/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/




















/*=========================CONTACTOS BACKGROUND================================*/

#bg-contacto {
    position: relative;
    top:-130px;
}

#seccion-contacto {
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}


/*=========================CONTACTOS FORMULARIO================================*/
#contenedor-fomulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
}

#titulo-fomulario {
    color: #3f3f3f;
}

/* Estilo para imágenes pequeñas en el formulario */
.img-pequena {
    max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
    width: 100%; /* Asegura que sea responsiva */
    height: auto; /* Mantiene la proporción original */
}




/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding:  0 8px;
    color: #f3f3f3;
}



/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/



@media (max-width:1200px) {
    #intro, #equipo {
        width: 90% !important;
        margin: auto;
    }

    #equipo p {
        display: none;
    }
    .aprendizaje-fila {
        width: 100% !important;
        text-align: center;
    }

    /*=========================MEDIA QUERIES PANTALLA SM================================*/
}

#bg-contacto {
    top:-120px;
}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/



@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}