@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Dancing' serif;
    overflow-x: hidden;
}



#menu li > a {
    font-size: 15px;
    font-weight: bolder;
    color: #3f3f3f;

}

#menu form > button {
    font-size: 15px;
    font-weight: bold;
}


































#bg-contacto {
    position: relative;
    top:-130px;
}
#seccion-contacto {
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}


#contenedor-fomulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-fomulario {
    color: #3f3f3f;
}










@media (max-width:768px) {
    #intro, #equipo {
        width: 90% !important;
    }
    #equipo p {
        display: none;
    }
    .aprendizaje-fila {
        width: 100% !important;
        text-align: center;
    }
}
#bg-contacto {
    top:-110px;
}



/*=========================MEDIA QUERIES PANTALLAS EXTRA-SM =============================*/

@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}